@model IEnumerable<Storefront.DATA.EF.Artist>

@{
    ViewBag.Title = "Artists";
}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@* Here I am using what we did in class to build a basic form allowing a user to search for an artists first/lastname. The search keywords
    will be passed by the form to the controller in a querystring.*@

<div class="row panel panel-primary">
    <form method="get" action="~/Filters/ArtistsQS" class="form-horizontal pull-left">
        <div class="form-group" style="padding-top: 1em;">
            <div class="col-xs-offset-1 col-xs-11 col-sm-2">
                <label for="searchFilter">Search by Artist</label>
            </div>
            <div class="col-xs-1 col-xs-11 col-sm-5">
                <input type="text" name="searchFilter"/>
            </div>
            <div class="col-xs-offset-1 col-xs-11 col-sm-2">
                <input type="submit" value="Go!" class="btn btn-primary" />
                @Html.ActionLink("Reset", "ArtistsQS", "Filters", null, new { @class = "btn btn-danger"})
            </div>
        </div>
    </form>
</div>


@if(Model.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtistID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtistID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtistID })
        </td>*@
    </tr>
    }

    </table>
}

else
{
    <p>
        Sorry, no results found. Please reset or try searching for something else.
    </p>
}
